{{ ansible_managed | comment }}
WORDPRESS_DB_HOST={{ app_config.app.database_host }}:{{ app_config.app.database_port }}
WORDPRESS_DB_NAME={{ app_config.app.database.name }}
WORDPRESS_DB_USER={{ app_config.app.database_user }}
WORDPRESS_DB_PASSWORD={{ app_config.app.database_password | quote }}
WORDPRESS_TABLE_PREFIX={{ app_config.app.table_prefix }}
