{{ ansible_managed | comment }}
USER_UID=1000
USER_GID=1000
FORGEJO__database__DB_TYPE=postgres
FORGEJO__database__HOST={{ app_config.app.database_host }}:{{ app_config.app.database_port }}
FORGEJO__database__NAME={{ app_config.app.database.name }}
FORGEJO__database__USER={{ app_config.app.database_user }}
FORGEJO__database__PASSWD={{ app_config.app.database_password }}
FORGEJO__server__DOMAIN={{ forgejo_fqdn }}
FORGEJO__server__ROOT_URL=https://{{ forgejo_fqdn }}/
FORGEJO__server__HTTP_PORT=3000
FORGEJO__server__SSH_DOMAIN={{ forgejo_fqdn }}
FORGEJO__server__SSH_PORT={{ app_config.app.ssh_port }}
FORGEJO__server__SSH_LISTEN_PORT=2222
FORGEJO__server__START_SSH_SERVER=true
FORGEJO__actions__ENABLED=true
FORGEJO__actions__DEFAULT_ACTIONS_URL=https://data.forgejo.org
