{{ ansible_managed | comment }}
FORGEJO_INSTANCE_URL={{ app_config.app.forgejo_url }}
FORGEJO_RUNNER_TOKEN={{ _forgejo_runner_token }}
FORGEJO_RUNNER_NAME={{ app_config.app.runner_name }}
FORGEJO_RUNNER_LABELS={{ app_config.app.labels }}
DOCKER_HOST=tcp://docker:2375
