{{ ansible_managed | comment }}
DB_TYPE=postgresdb
DB_POSTGRESDB_HOST={{ app_config.app.database_host }}
DB_POSTGRESDB_PORT={{ app_config.app.database_port }}
DB_POSTGRESDB_DATABASE={{ app_config.app.database.name }}
DB_POSTGRESDB_USER={{ app_config.app.database_user }}
DB_POSTGRESDB_PASSWORD={{ app_config.app.database_password }}
N8N_ENCRYPTION_KEY={{ _n8n_encryption_key }}
N8N_HOST={{ n8n_fqdn }}
N8N_PROTOCOL=http
N8N_PORT={{ app_config.app.port }}
N8N_EDITOR_BASE_URL=https://{{ n8n_fqdn }}/
WEBHOOK_URL=https://{{ n8n_fqdn }}/
N8N_PROXY_HOPS=1
N8N_SECURE_COOKIE=true
