{{ ansible_managed | comment }}
APP_RELEASE={{ app_config.app.release }}
WEB_URL=https://{{ plane_fqdn }}
CORS_ALLOWED_ORIGINS=https://{{ plane_fqdn }}
API_BASE_URL=http://plane-api:8000
DATABASE_URL=postgresql://{{ app_config.app.database_user }}:{{ app_config.app.database_password }}@{{ app_config.app.database_host }}:{{ app_config.app.database_port }}/{{ app_config.app.database.name }}
REDIS_URL=redis://:{{ _plane_redis_password }}@{{ _plane_redis_backend.host }}:{{ _plane_redis_backend.port }}/0
AMQP_URL=amqp://{{ app_config.app.rabbitmq.user }}:{{ _plane_rabbitmq_password }}@{{ app_config.app.rabbitmq.host }}:{{ app_config.app.rabbitmq.port }}/{{ app_config.app.rabbitmq.vhost }}
SECRET_KEY={{ _plane_secret_key }}
LIVE_SERVER_SECRET_KEY={{ _plane_live_server_secret_key }}
USE_MINIO=1
AWS_ACCESS_KEY_ID={{ _plane_object_storage_access_key }}
AWS_SECRET_ACCESS_KEY={{ _plane_object_storage_secret_key }}
AWS_S3_ENDPOINT_URL=http://plane-minio:9000
AWS_S3_BUCKET_NAME={{ app_config.app.object_storage.bucket }}
MINIO_ENDPOINT_SSL=0
MINIO_ROOT_USER={{ _plane_object_storage_access_key }}
MINIO_ROOT_PASSWORD={{ _plane_object_storage_secret_key }}
RABBITMQ_DEFAULT_USER={{ app_config.app.rabbitmq.user }}
RABBITMQ_DEFAULT_PASS={{ _plane_rabbitmq_password }}
RABBITMQ_DEFAULT_VHOST={{ app_config.app.rabbitmq.vhost }}
SITE_ADDRESS=:80
FILE_SIZE_LIMIT=5242880
