{{ ansible_managed | comment }}
KARAKEEP_VERSION={{ app_config.app.image | regex_replace('^.*:', '') }}
NEXTAUTH_URL=https://{{ karakeep_fqdn }}/
NEXTAUTH_SECRET={{ _karakeep_nextauth_secret }}
MEILI_MASTER_KEY={{ _karakeep_meili_master_key }}
DISABLE_SIGNUPS={{ app_config.app.disable_signups | bool | ternary('true', 'false') }}
DB_WAL_MODE={{ app_config.app.db_wal_mode | bool | ternary('true', 'false') }}
