{{ ansible_managed | comment }}
APP_URL=https://{{ bookstack_fqdn }}
APP_KEY={{ _bookstack_app_key }}
APP_ENV=production
APP_DEBUG=false
PUID={{ app_config.app.puid }}
PGID={{ app_config.app.pgid }}
TZ={{ homelabinfra_config.timezone | default('UTC') }}
DB_CONNECTION=mysql
DB_HOST={{ app_config.app.database_host }}
DB_PORT={{ app_config.app.database_port }}
DB_DATABASE={{ app_config.app.database.name }}
DB_USERNAME={{ app_config.app.database_user }}
DB_PASSWORD={{ app_config.app.database_password }}
MAIL_DRIVER={{ 'smtp' if wiring_mail.enabled else 'log' }}
MAIL_FROM={{ wiring_mail.from_address | default('bookstack@example.invalid', true) }}
MAIL_FROM_NAME={{ wiring_mail.from_name | default('BookStack', true) }}
MAIL_HOST={{ wiring_mail.host | default('localhost', true) }}
MAIL_PORT={{ wiring_mail.port | default(25, true) }}
MAIL_USERNAME={{ wiring_mail.username | default('', true) }}
MAIL_PASSWORD={{ wiring_mail.password | default('', true) }}
MAIL_ENCRYPTION={{ wiring_mail.encryption | default('', true) }}
